<div class="telemetry-row">
    <span class="telemetry-label">Altitude (m)</span>
    <span class="telemetry-value" id="tl-altitude">{{.AltitudeM}}</span>
</div>
<div class="telemetry-row">
    <span class="telemetry-label">Speed (m/s)</span>
    <span class="telemetry-value" id="tl-speed">{{.SpeedMPS}}</span>
</div>
<div class="telemetry-row">
    <span class="telemetry-label">Latitude (deg)</span>
    <span class="telemetry-value" id="tl-lat">{{.LatDeg}}</span>
</div>
<div class="telemetry-row">
    <span class="telemetry-label">Longitude (deg)</span>
    <span class="telemetry-value" id="tl-lon">{{.LonDeg}}</span>
</div>
<div class="telemetry-row">
    <span class="telemetry-label">Signal (%)</span>
    <span class="telemetry-value" id="tl-signal">{{.SignalPct}}</span>
</div>
<div class="telemetry-row">
    <span class="telemetry-label">Detections</span>
    <span class="telemetry-value" id="tl-detections">{{.DetectionsCount}}</span>
</div>